{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true, // document나 window 인식되게 함
    "node": true,
    "es6": true
  },
  "rules": {
    "react-hooks/exhaustive-deps": "error"
  },
  "extends": ["next/core-web-vitals"],
  "ignorePatterns": ["node_modules/"] // eslint 미적용될 폴더나 파일 명시
}
